.searchBox{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,50%);
    background:cadetblue;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput{
    width: 280px;
    padding: 0.6px;
}

.searchBox:hover > .SearchButton{
   background: white;
   color: #2f3640;
}

.SearchButton{
    color: white;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput{
    border: none;
    background: none;
    outline: none;
    float: left  ; 
     padding: 0px;
     color: white;
     font-size: 16px;
     transition: 0.4s;
     line-height: 40px;
     width: 0px;
}


@media Screen and (max-width : 620px)
{
    .searchBox:hover > .searchInput{
        width: 150px;
        padding: 0.6px;
    }
}